<div class="user-login">
  <h2 class="title">Snippets に ログイン</h2>
  <div class="form">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", required: true, maxlength: '100' %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "current-password", placeholder: "パスワード", required: true, minlength: @minimum_password_length, maxlength: '30' %>
      </div>

      <div class="submit-field">
        <%= f.submit t('.sign_in'), class: "btn" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>
