<div class="count">
  <%= @relationships.total_count %>人
</div>
<div class="list">
  <% @relationships.each do |user| %>
    <%= link_to user, class: "item" do  %>
      <div class="area-image">
        <%= image_tag user.image.url, class: "img" %>
      </div>
      <div class="area-body">
        <div class="title"><%= user.name %></div>
        <div class="details">
          <% if user.profile.present? %>
            <%= user.profile %>
          <% else %>
            プロフィール未登録
          <% end %>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
<%= paginate @relationships, remote: true %>