<div class="user-show__top">
  <div class="area__image">
    <%= image_tag @user.image.url, class: "icon"%>
  </div>
  <div class="area__name"><%= @user.name %></div>
  <div class="area__profile"><%= @user.profile %></div>

  <% if @user == current_user %>
  <div class="area__button">
    <%= link_to 'プロフィールを編集', edit_user_registration_path, class: "btn" %>
  </div>
  <% end %>
</div>

<div class="user-show__center">
  <div class="area__posts">
    <div class="headline"><%= icon('fas', 'list') %>投稿一覧</div>
    <% @posts.each do |post| %>
      <div class="list">
        <%= link_to post.title, post %>
      </div>
    <% end %>
  </div>
  <div class="area__favorites">
    <div class="headline"><%= icon('fas', 'thumbs-up') %>いいね済</div>
    <% @favorite_posts.each do |post| %>
      <div class="list">
        <%= link_to post.title, post %>
      </div>
    <% end %>
  </div>
</div>
