<%= javascript_pack_tag 'tab-switch' %>

<div class="user-show__top">
  <div class="area__image">
    <%= image_tag @user.image.url, class: "icon"%>
  </div>
  <div class="area__name"><%= @user.name %></div>
  <div class="area__profile"><%= @user.profile %></div>

  <% if @user == current_user %>
    <div class="area__button">
      <%= link_to 'プロフィールを編集', edit_user_registration_path, class: "btn" %>
    </div>
  <% end %>

  <% if @user != current_user %>
    <div class="area__follow">
      <div id="js-follow-btn-<%= @user.id %>">
        <%= render partial: 'relationships/follow', locals: { user: @user } %>
      </div>
    </div>
  <% end %>
</div>

<div class="user-show__center">
  <div class="tab">
    <div class="link checked">
      <%= link_to user_path, remote: true do %>
        <%= icon('fas', 'th-list') %>投稿一覧
      <% end %>
    </div>

    <div class="link">
      <%= link_to favorites_user_path, remote: true do %>
        <%= icon('fas', 'thumbs-up') %>いいね済
      <% end %>
    </div>

    <div class="link">
      <%= link_to followings_user_path, remote: true do %>
        <%= icon('fas', 'user-check') %>フォロー済
      <% end %>
    </div>

    <div class="link">
      <%= link_to followers_user_path, remote: true do %>
        <%= icon('fas', 'user-friends') %>フォロワー
      <% end %>
    </div>
  </div>

  <div id="js-ajax-show-list" class="content">
    <%= render partial: "posts" %>
  </div>
  
</div>
