<header class="header">
  <%= link_to "Snippets", root_path, class: "header__logo" %>
  <nav>
    <ul class="header__menu">
      <% if user_signed_in? %>
        <li class="header__menu-item">
          <%= link_to new_post_path, class: "link" do %>
            <%= icon('fas', 'edit') %>投稿する
          <% end %>
        </li>
        <li class="header__menu-item--img" id="js-menu-img">
          <%= image_tag current_user.image.url, id: "js-dropdown-img", class: "icon" %>
          <%= icon('fas', 'caret-down', class: "fa-fw", id: "js-caret-down") %>
        </li>
        <div id="js-show-list" class="dropdown-menu">
          <li class="dropdown-menu__item">
            <%= link_to 'マイページ', user_path(current_user.id), class: "link" %>
          </li>
          <li class="dropdown-menu__item">
            <%= link_to 'ログアウト', destroy_user_session_path, method: :delete, class: "link" %>
          </li>
        </div>
    <% else %>
        <li class="header__menu-item new">
          <%= link_to "新規登録", new_user_registration_path, class: "link" %>
        </li>
        <li class="header__menu-item">
          <%= link_to "ログイン", new_user_session_path, class: "link" %>
        </li>
      <% end %>
    </ul>
  </nav>
</header>