<div class="home">
  <section class="top">
    <div class="container">
      <h2 class="headline">
        Snippetsで<br>初心者のエンジニアと<br>繋がろう！
      </h2>
      <div class="detail">
        <p>
          Snippetsは、Webエンジニアを目指す皆様が、知識を記録・共有するためのサービスです。<br>
          初心者のエンジニアとたくさん繋がって、<br class="responsive">Webエンジニアの世界を一緒に広げよう！
        </p>
      </div>
      <div class="registration">
        <%= link_to "今すぐはじめる", new_user_registration_path, class: "btn" %>
      </div>
    </div>
  </section>

  <section class="middle-blue">
    <div class="container">
      <div class="text-area">
        <h2 class="headline">
          コードをメモとして投稿
        </h2>
        <div class="detail">
          <p>
            学習した内容をメモとして残せます。<br>
            Markdown記法で書くと見やすい形で<br class="responsive">残すことができます。
          </p>
        </div>
      </div>
      <div class="image-area">
        <%= image_tag 'code.png' %>
      </div>
    </div>
  </section>

  <section class="middle-white">
    <div class="container">
      <div class="image-area">
        <%= image_tag 'favorite.png' %>
      </div>
      <div class="text-area">
        <h2 class="headline">
          他人の投稿にいいね
        </h2>
        <div class="detail">
          <p>
            他人の投稿にいいねすることができます。<br>
            参考になる投稿があれば<br class="responsive">いいねして知識を広げよう。
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="middle-blue">
    <div class="container">
      <div class="text-area">
        <h2 class="headline">
          相手をフォロー
        </h2>
        <div class="detail">
          <p>
            フォローして繋がりを広げる。<br>
            いろんな人と繋がって<br class="responsive">Webエンジニアの世界を広げよう。
          </p>
        </div>
      </div>
      <div class="image-area">
        <%= image_tag 'connection.png' %>
      </div>
    </div>
  </section>

  <section class="bottom">
    <div class="container">
      <h2 class="headline">
        よく見られている投稿
      </h2>
      <div class="list">
        <% @posts.each do |post| %>
          <div class="item">
            <div class="area-image">
              <%= image_tag post.user.image.url, class: "icon" %>
            </div>
            <div class="area-body">
              <div class="title">
                <%= link_to post.title.truncate(40), post, class: "link" %>
              </div>
              <div class="details">
                <span class="date-time"><%= icon('fas', 'paper-plane') %><%= time_ago_in_words post.created_at %>前</span>
                <span class="view"><%= icon('far', 'eye') %><%= post.impressions_count %></span>
                <span class="favorite"><%= icon('far', 'thumbs-up') %><%= post.favorites.size %></span>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="more-list">
        <%= link_to "ログインしてもっと見る", new_user_session_path, class: "btn" %>
      </div>
    </div>
  </section>
</div>