<div class="password-forget">
  <h2 class="title"><%= t('.change_your_password') %></h2>
  <div class="form">
    <%= form_for(resource, as: resource_name, url: update_user_password_path, html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>
      <%= f.hidden_field :reset_password_token %>

      <div class="field">
        <%= f.password_field :password, autofocus: true, autocomplete: "new-password", placeholder: "新しいパスワード", required: true, minlength: @minimum_password_length, maxlength: '30' %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "新しいパスワード(確認用)" %>
      </div>

      <div class="submit-field">
        <%= f.submit t('.change_my_password'), class: "btn" %>
      </div>
    <% end %>
  </div>

  <%= render "users/shared/links" %>
</div>
