<div class="form">
  <%= form_with model: @post, local: true do |f| %>

    <div class="field">
      タイトル：<%= f.text_field :title %>
    </div>

    <div class="field">
      言語：<%= f.select :language, [ ['HTML', 0], ['CSS', 1], ['JavaScript', 2], ['Ruby', 3], ['Ruby on Rails', 4] ] %>
    </div>

    <div class="field">
      コード：<%= f.text_area :code, size: '30x3' %>
    </div>

    <div>
      <%= f.submit button_value %>
    </div>
    
  <% end %>
</div>