<div class="post-form">

  <div class="form">
    <%= form_with model: @post, local: true do |f| %>

      <div class="top">
        <div class="title-field">
          <%= f.text_field :title, placeholder: "タイトル", required: true, maxlength: 50 %>
          <% if @post.errors.include?(:title) %>
            <p><%= @post.errors.full_messages_for(:title).first %></p>
          <% end %>
        </div>

        <div class="select-field">
          <%= f.select :language, [ ['HTML', 'HTML'], ['CSS', 'CSS'], ['JavaScript', 'JavaScript'], ['Ruby', 'Ruby'], { include_blank: '言語を選択してください' }, required: true %>
          <% if @post.errors.include?(:language) %>
            <p><%= @post.errors.full_messages_for(:language).first %></p>
          <% end %>
        </div>
      </div>

      <div class="code-field">
        <%= f.text_area :code, placeholder: "Markdown記法で書くことができます", required: true %>
        <% if @post.errors.include?(:code) %>
          <p><%= @post.errors.full_messages_for(:code).first %></p>
        <% end %>
      </div>

      <div class="submit-field">
        <%= f.submit button_value, class: "btn" %>
      </div>
      
    <% end %>
  </div>

</div>