<div class="select-language">
  <div class="link">
    <% if params[:q].present? && params[:q][:language_eq] == "HTML" %>
      <%= icon('fas', 'check') %>
    <% end %>
    <%= link_to posts_path(@q, :'q[language_eq' => "HTML"), class: "html" do %>
      <%= icon('fab', 'html5', class: 'fa-fw') %>
    <% end %>
  </div>
  <div class="link">
    <% if params[:q].present? && params[:q][:language_eq] == "CSS" %>
      <%= icon('fas', 'check') %>
    <% end %>
    <%= link_to posts_path(@q, :'q[language_eq' => "CSS"), class: "css" do %>
      <%= icon('fab', 'css3-alt', class: 'fa-fw') %>
    <% end %>
  </div>
  <div class="link">
    <% if params[:q].present? && params[:q][:language_eq] == "JavaScript" %>
      <%= icon('fas', 'check') %>
    <% end %>
    <%= link_to posts_path(@q, :'q[language_eq' => "JavaScript"), class: "js" do %>
      <%= icon('fab', 'js', class: 'fa-fw') %>
    <% end %>
  </div>
  <div class="link">
    <% if params[:q].present? && params[:q][:language_eq] == "Ruby" %>
      <%= icon('fas', 'check') %>
    <% end %>
    <%= link_to posts_path(@q, :'q[language_eq' => "Ruby"), class: "ruby" do %>
      <%= icon('fas', 'gem', class: 'fa-fw') %>
    <% end %>
  </div>
</div>