<div class="list">
  <% @posts.each do |post| %>
    <%= link_to post, class: "item" do  %>
      <div class="area-image">
        <object><%= link_to (image_tag post.user.image.url, class: "icon"), user_path(post.user_id) %></object>
      </div>
      <div class="area-body">
        <div class="title"><%= post.title.truncate(Post::TRUNCATE_TITLE_LENGTH) %></div>
        <div class="details">
          <span class="date-time"><%= icon('fas', 'paper-plane') %><%= time_ago_in_words post.created_at %>前</span>
          <span class="view"><%= icon('far', 'eye') %><%= post.impressions_count %></span>
          <span class="favorite"><%= icon('far', 'thumbs-up') %><%= post.favorites.size %></span>
        </div>
      </div>
    <% end %>
  <% end %>
  
  <% if @posts.empty? %>
    <p class="message-post-empty">投稿が見つかりませんでした。<br>投稿してみましょう！</p>
  <% end %>
</div>
<%= paginate @posts, remote: true %>