<div class="switch">
  <div class="link">
    <%= sort_link(@q, :created_at, page: nil, default_order: :desc) do %>
      <%= icon('fas', 'history', class: 'fa-fw') %>
    <% end %>
  </div>
  <div class="link">
    <%= sort_link(@q, :impressions_count, page: nil, default_order: :desc) do %>
      <%= icon('far', 'eye', class: 'fa-fw') %>
    <% end %>
  </div>
  <div class="link">
    <%= sort_link(@q, :favorites_count, page: nil, default_order: :desc) do %>
      <%= icon('far', 'thumbs-up', class: 'fa-fw') %>
    <% end %>
  </div>
</div>