<div class="posts-index">
  <div class="container">

    <div class="container__left">
      <%= render partial: "language" %>
    </div>

    <div class="container__center">
      <div class="reset-link-area">
        <% if params[:q].present? %>
          <%= link_to posts_path, class: "link" do %>
            <%= icon('fas', 'search-minus', class: 'fa-fw fa-lg' ) %>検索リセット
          <% end%>
        <% end %>
      </div>
      <%= search_form_for(@q, url:posts_path) do |f| %>
        <div class="input-field">
          <%= f.search_field :title_or_code_cont, placeholder: "\uf002 キーワード検索", class: "fas" %>
        </div>
      <% end %>
      <div id="js-ajax-list">
        <%= render partial: "list" %>
      </div>
    </div>

    <div class="container__right">
      <%= render partial: "switch" %>
    </div>
    
  </div>
</div>