<div class="container-center">

  <h1 class="posts__title">一覧画面</h1>

  <div class="posts__list">
    <% @posts.each do |post| %>
      <div class="posts__list-item">
        <%= post.title %>
        <%= post.language %>
        <%= post.code %>
        <%= link_to '詳細', post %>
        <%= link_to '編集', edit_post_path(post) %>
        <%= link_to '削除', post, method: :delete, data: {confirm: '削除しますか？'} %>
      </div>
    <% end %>
  </div>

  <div class="posts__link">
    <%= link_to '投稿画面へ', new_post_path %>
  </div>

</div>