<div class="post-show">

  <div class="main">
    <div class="top">
      <div class="back">
        <% if URI(request.referer.to_s).path == "/posts/new" || URI(request.referer.to_s).path == "/posts/#{@post.id}/edit" %>
          <%= link_to posts_path do %>
            <%= icon('fas', 'arrow-left', class: 'fa-lg') %>
          <% end %>
        <% else %>
          <%= link_to 'javascript:history.back()' do %>
            <%= icon('fas', 'arrow-left', class: 'fa-lg') %>
          <% end %>
        <% end %>
      </div>
      <div class="top__area">
        <div class="left">
          <div class="area-language">
            <%= language_icon(@post.language) %>
          </div>
          <div class="area-datetime">
            <%= l @post.updated_at, format: :date %>に更新
          </div>
        </div>
        <div class="right">
          <div class="area-pv">
            <%= @post.impressions_count %> views
          </div>
        </div>
      </div>

      <div class="area-title">
        <h1><%= @post.title %></h1>
      </div>
    </div>

    <div class="area-code">
      <%= qiita_markdown(@post.code) %>
    </div>
  </div>

  <div class="right">
    <div id="js-fav-btn-<%= @post.id %>">
      <%= render partial: 'favorites/favorite', locals: { post: @post } %>
    </div>
    <% if @user == current_user %>
      <%= link_to '編集', edit_post_path(@post) %>
      <%= link_to '削除', @post, method: :delete, data: { confirm: '削除しますか？' } %>
    <% end %>
  </div>
</div>