<div class="container-center">

  <h1><%= @post.title %></h1>

  <div>
    言語：<%= @post.language %>
  </div>

  <div>
    コード：<%= simple_format(h @post.code) %>
  </div>

  <div id="js-fav-btn-<%= @post.id %>">
    <%= render partial: 'favorites/favorite', locals: { post: @post} %>
  </div>

  <% if @user == current_user %>
    <%= link_to '編集', edit_post_path(@post) %>
    <%= link_to '削除', @post, method: :delete, data: {confirm: '削除しますか？'} %>
  <% end %>

  <div class="posts__link">
    <%= link_to '一覧画面へ', posts_path %>
  </div>

</div>