<div class="post-show">

  <div class="main">
    <div class="top">
      <div class="top__area">
        <div class="left">
          <div class="area-language">
            <%= @post.language %>
          </div>
          <div class="area-datetime">
            <%= l @post.updated_at, format: :date %>に更新
          </div>
        </div>
        <div class="right">
          <div class="area-pv">
            <%= @post.impressions_count %> views
          </div>
        </div>
      </div>

      <div class="area-title">
        <h1><%= @post.title %></h1>
      </div>
    </div>

    <div class="area-code">
      <%= markdown(@post.code).html_safe %>
    </div>
  </div>

  <div class="right">
    <div id="js-fav-btn-<%= @post.id %>">
      <%= render partial: 'favorites/favorite', locals: { post: @post } %>
    </div>

    <% if @user == current_user %>
      <%= link_to '編集', edit_post_path(@post) %>
      <%= link_to '削除', @post, method: :delete, data: { confirm: '削除しますか？' } %>
    <% end %>
  </div>

</div>