<div class="container-center">

  <h1><%= @post.title %></h1>

  <div>
    言語：<%= @post.language %>
  </div>

  <div>
    コード：<%= simple_format(h @post.code) %>
  </div>

  <div>
    <% if @post.favorited_by?(current_user) %>
      <%= link_to post_favorites_path(@post.id), method: :delete do %>
        <%= icon('fas', 'thumbs-up') %>
      <% end %>
      <%= @post.favorites.count %>
    <% else %>
      <%= link_to post_favorites_path(@post.id), method: :post do %>
        <%= icon('far', 'thumbs-up') %>
      <% end %>
      <%= @post.favorites.count %>
    <% end %>
  </div>

  <% if @user == current_user %>
    <%= link_to '編集', edit_post_path(@post) %>
    <%= link_to '削除', @post, method: :delete, data: {confirm: '削除しますか？'} %>
  <% end %>

  <div class="posts__link">
    <%= link_to '一覧画面へ', posts_path %>
  </div>

</div>