<div class="container-center">

  <h1><%= @post.title %></h1>

  <div>
    言語：<%= @post.language %>
  </div>

  <div>
    コード：<%= simple_format(h @post.code) %>
  </div>

  <% if @post.user_id == current_user.id %>
    <%= link_to '編集', edit_post_path(@post) %>
    <%= link_to '削除', @post, method: :delete, data: {confirm: '削除しますか？'} %>
  <% end %>

  <div class="posts__link">
    <%= link_to '一覧画面へ', posts_path %>
  </div>

</div>