<!DOCTYPE html>
<html>
  <head>
    <title>Snippets</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name=”viewport” content=”width=device-width, initial-scale=1”>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
  </head>

  <body>
    <%= render 'shared/flash_messages' %>
    <%= render 'shared/header' %>
    <main>
      <%= yield %>
    </main>
    <footer class="footer">
      <p>Copyright © Snippets. All Rights Reserved</p>
    </footer>
  </body>
</html>
