<div class="password-change">
  <h2 class="title"><%= icon('fas', 'unlock-alt') %>パスワード変更</h2>
  <div class="form">
    <%= form_for(resource, as: resource_name, url: update_user_registration_path, html: { method: :put }) do |f| %>
      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "新しいパスワード", required: true, minlength: '6', maxlength: '30' %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "新しいパスワード(確認用)", required: true %>
      </div>

      <div class="submit-field">
        <%= f.submit "変更する", class: "btn" %>
      </div>
    <% end %>
  </div>

  <div class="area-link">
    <%= link_to "キャンセル", :back %>
  </div>
</div>