<div class="password-change">
  <h2 class="title"><%= icon('fas', 'unlock-alt') %>パスワード変更</h2>
  <div class="form">
    <%= form_for(resource, as: resource_name, url: update_user_registration_path, html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "新しいパスワード", maxlength: '30' %>
        <% if @minimum_password_length %>
          <br />
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "新しいパスワード(確認用)" %>
      </div>

      <div class="field">
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワード" %>
      </div>

      <div class="submit-field">
        <%= f.submit "変更する", class: "btn" %>
      </div>
    <% end %>
  </div>

  <div class="area-link">
    <%= link_to "キャンセル", :back %>
  </div>
</div>