<div class="container-center">
  <h2 class="user-auth__title">パスワードを変更</h2>
  <div class="user-auth__form">
    <%= form_for(resource, as: resource_name, url: update_user_registration_path, html: { method: :put }) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="user-auth__form-field">
        <%= f.label :password %>
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "新しいパスワード", maxlength: '30' %>
        <% if @minimum_password_length %>
          <br />
          <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %>
      </div>

      <div class="user-auth__form-field">
        <%= f.label :password_confirmation %>
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "新しいパスワード(確認用)" %>
      </div>

      <div class="user-auth__form-field">
        <%= f.label :current_password %>
        <%= f.password_field :current_password, autocomplete: "current-password", placeholder: "現在のパスワード" %>
      </div>

      <div class="actions">
        <%= f.submit "変更する", class: "btn" %>
      </div>
    <% end %>

    <%= link_to t('devise.shared.links.back'), :back %>
  </div>
</div>