<div class="user-edit">

  <div class="user-edit__main">
    <% if resource.errors.any? %>
      <span class="error-messages"><%= resource.errors.full_messages.first %></span>
    <% end %>
    <div class="back">
      <%= link_to user_path(@user) do %>
        <%= icon('fas', 'arrow-left', class: 'fa-lg') %>
      <% end %>
    </div>
    <div class="form">
      <%= form_for(resource, as: resource_name, url: update_user_registration_path, html: { method: :put }) do |f| %>
        <div class="area-image">
          <%= image_tag @user.image.url, id: :js_img_prev , class: "icon" %>
        </div>

        <div class="image-field">
          <%= f.label :image, "プロフィール画像を変更", class: "btn" %>
          <%= f.file_field :image, accept: "image/png,image/jpeg,image/gif" %>
        </div>

        <div class="name-field">
          <%= f.label :name %>
          <%= f.text_field :name, autofocus: true, autocomplete: "name", placeholder: "ユーザ名", required: true, maxlength: '10' %>
        </div>

        <div class="profile-field">
          <%= f.label :profile %>
          <%= f.text_area :profile, autocomplete: "profile", size: '30x10', placeholder: "プロフィール", maxlength: '200' %>
        </div>

        <div class="submit-field">
          <%= f.submit "更新する", class: "btn" %>
        </div>
      <% end %>
    </div>

    <div class="area-password">
      パスワード変更は <%= link_to "こちら", change_password_user_registration_path %>
    </div>

    <hr>

    <div class="area-delete">
      <h2 class="headline"><%= icon('fas', 'trash-alt') %>アカウント削除</h2>
      <p class="explanation">
        一度アカウントを削除すると、元に戻せません。<br>
        十分ご注意ください。
      </p>
      <div class="delete-field">
        <%= link_to "アカウント削除", deactivate_user_registration_path, class: "btn" %>
      </div>
    </div>
  </div>

</div>