<div class="user-auth">
  <h2 class="user-auth__title">アカウントを作成</h2>
  <div class="user-auth__form">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="user-auth__form-field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "メールアドレス", required: true, maxlength: '100' %>
      </div>

      <div class="user-auth__form-field">
        <%= f.label :password %>
        <% if @minimum_password_length %>
        <em><%= t('devise.shared.minimum_password_length', count: @minimum_password_length) %></em>
        <% end %><br />
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "パスワード", required: true, minlength: @minimum_password_length, maxlength: '30' %>
      </div>

      <div class="user-auth__form-field">
        <%= f.label :password_confirmation %><br />
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "パスワード(確認用)" %>
      </div>

      <div class="actions">
        <%= f.submit t('.sign_up'), class: "btn" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>